.stock-item {
    display: flex;
    justify-content: space-between; /* Puts the stock name on the left and switch on the right */
    align-items: center; /* Vertically aligns the items */
    padding: 10px;  border-bottom: 1px solid #ccc;
  }

.stock-name {
    font-size: 16px;
    font-weight: 500;
}

.stocks-container {
    flex: 1; /* Side component will take 1 part of the width */
    padding: 10px;
    background-color: #e0e0e0; /* Light background for distinction */
}