.stock-item {
    border: 2px solid #ccc;   /* Gray border */
    border-radius: 5px;       /* Optional: rounded corners */
    display: flex;            /* For aligning content, especially the switch */
    justify-content: space-between; /* Space between stock name and switch */
    align-items: center;
    padding: 0px 2px;
    padding-bottom: 2em;
    margin: 3px;
}

.stock-name {
    font-size: 16px;
    font-weight: 500;
}

.stocks-container {
    flex: 1; /* Side component will take 1 part of the width */
    padding: 10px;
    border: solid 1px #ccff99;
    border-radius: 10px;
    padding: 1em 1em;
    background-color: #daffb3;
}

.stock-item:nth-child(odd) {
    background-color: #9cff33; /* light gray */
}
  
.stock-item:nth-child(even) {
    background-color: #69cc00; /* white */
}
